<%- include("partials/header.ejs", { user: user }) %>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

<div class="container mt-2 mb-2">
    <div class="row">
        <!-- Columna de Perfil -->
        <div class="col-md-3 py-2">
            <h2 class="mt-5">Actualizar Perfil</h2>
            <form id="updateProfileForm" class="p-4 mt-3 rounded login-box shadow-sm">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese su nombre">
                </div>
                <div class="mb-3">
                    <label for="telefono" class="form-label">Teléfono</label>
                    <input type="tel" class="form-control" id="telefono" name="telefono" placeholder="Ingrese su nuevo teléfono">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Ingrese su nueva contraseña">
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-outline-primary">
                        <i class="bi bi-save"></i> 
                        Guardar Cambios
                    </button>
                    <button type="reset" class="btn btn-outline-secondary">
                        <i class="bi bi-x-circle"></i> 
                        Cancelar
                    </button>
                </div>
            </form>
        </div>

        
        <!-- Columna de Lista de Eventos -->

            <%- include ("partials/eventos.ejs", { eventos: eventos, user: user, profile: true }) %>
      
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/javascripts/dashboard.js"></script>

<%- include("partials/footer.ejs") %>