/* Estilos comunes para todas las páginas */

 
/* Estilos para el calendario */
:root {
    --primary-color: rgba(9, 85, 208, 1);
    --info-color: #004494;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --light-color: #f8f9fa;
    --dark-color: #151719;
    --font-family: 'Arial', sans-serif;
}
.fc-scrollgrid-sync-inner{
    background-color:#f8f9fa;
}
 .fc-daygrid-day-frame {
    background-color: white !important;
 }
.fc-event,
.fc-event-start,
.fc-event-end,
.fc-event-future,
.fc-daygrid-event,
.fc-daygrid-dot-event {
    background-color: #3788d8 !important;
    border-color:  #3788d8 !important;
}
div .fc-event-time {
    display: none;
}
/* Estilos comunes para todas las páginas */
body {
    background-color: #e0eaf1; /* Fondo más azulado */
    background-image: linear-gradient(160deg, #e0eaf1 0%, #8bb8d6 100%); 
    font-family: 'Arial', sans-serif;
    color: #2d3d44; /* Texto oscuro para buen contraste */
    min-height: 100vh;
}

header, .footer-nuestro, .navbar {
    background-color: #e0f0ff; /* Azul claro pero más oscuro que el fondo */
    color: #2d3d44; /* Mantén el texto oscuro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para dar profundidad */
    text-align: center;
}

header, .navbar{
    border-bottom: 2px solid #b0d4f1; /* Línea inferior azul más intensa */
}

.footer-nuestro{
    border-top: 2px solid #b0d4f1; /* Línea inferior azul más intensa */
}

.blue-text {
    color: var(--primary-color);
}

.dark-box {
    background-color: #f0f8ff; /* Azul muy claro */
    text-align: center;
    /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
    border: 1px solid #d1e6f7; /* Azul suave */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombras más marcadas para profundidad */
    border-radius: 15px;
}

.form-title {
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    color:var(--primary-color);
}

.form-control {
    background-color: #f0f8ff; /* Azul muy claro */
    border: none;
    border-bottom: 2px solid var(--primary-color);
    border-radius: 0;
    padding-left: 0;
    color: #151719;
    margin-bottom: 20px;

}

.form-control:focus {
    box-shadow: none;
    background-color: #ffffff;
    color: #151719;
}

.form-label {
    font-size: 15px;
    color: #4A5055;
    letter-spacing: 1px;
}

/* Estilo para el <select> */
.form-select {
    background-color: #ffffff;
    border: none;
    border-bottom: 2px solid var(--primary-color);
    color: #151719;
    padding: 0.5em;
}

.form-select:focus {
    box-shadow: none;
    border-color: var(--primary-color);
    background-color: #ffffff;
    color: #151719;
}


.btn-outline-primary {
    border-radius: 15px;
    cursor: pointer;
    border-color: var(--primary-color) !important;
    color: var(--primary-color);
    outline: none;
}

.btn-outline-primary:hover {
    background-color: var(--primary-color); 
    box-shadow: 0 4px 8px rgba(9, 85, 208, 0.3) !important; /* Efecto de elevación */
    background-image: linear-gradient(160deg, #f8f9fa 0%, var(--primary-color) 100%) !important;
    color: #ffffff !important;
}

.btn-outline-primary:focus {
    outline: none;
    box-shadow: none; /* Esto también elimina cualquier sombra azul que pueda aparecer */
}
.btn-outline-secondary {
    border-radius: 15px;
    cursor: pointer;
    border-color: #6c757d !important;
    color: #6c757d;
    outline: none;
}

.btn-outline-secondary:hover {
    background-image: linear-gradient(160deg, #f8f9fa 0%, #6c757d 100%) !important;
    color: #ffffff !important;
}

.btn-outline-secondary:focus {
    outline: none;
    box-shadow: none; /* Esto también elimina cualquier sombra azul que pueda aparecer */
}

.btn-outline-info{
    border-radius: 15px;
    cursor: pointer;
    border-color: var(--info-color) !important;
    color: var(--info-color);
    outline: none;
}
.btn-outline-info:hover {
    background-image: linear-gradient(160deg, #f8f9fa 0%, var(--info-color) 100%) !important;
    color: #ffffff !important;
}
.btn-outline-info:focus {
    outline: none;
    box-shadow: none; /* Esto también elimina cualquier sombra azul que pueda aparecer */
}

.btn-success {
    border-radius: 15px;
    cursor: pointer;
    color: #ffffff;
    outline: none;
}

.btn-success:hover {
    background-image: linear-gradient(160deg, #f8f9fa 0%, #28a745 100%) !important;
    color: #ffffff !important;
}

.btn-success:focus {
    outline: none;
    box-shadow: none; /* Esto también elimina cualquier sombra azul que pueda aparecer */
}

.btn-outline-danger{
    border-radius: 15px;
    cursor: pointer;
    border-color: #dc3545 !important;
    color: #dc3545;
    outline: none;
}

.btn-outline-danger:hover {
    background-image: linear-gradient(160deg, #f8f9fa 0%, #dc3545 100%) !important;
    color: #ffffff !important;
}

.btn-outline-danger:focus {
    outline: none;
    box-shadow: none; /* Esto también elimina cualquier sombra azul que pueda aparecer */
}


span {
    color: #4A5055;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: #0056b3;
}

/* Estilos personalizados para el toast */
.custom-toast {
    background-color: #ffffff; /* Fondo claro */
    color: #151719; /* Color del texto oscuro */
    border-radius: 20px; /* Bordes completamente redondeados */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); /* Sombra para dar profundidad */

}

.toast-header {
    background-color: var(--primary-color); /* Encabezado con color azul */
    color: #fff; /* Texto blanco en el encabezado */
    border-radius: 20px 20px 0 0;

}

.toast-body {
    background-color: #ffffff; /* Fondo claro */
    color: #151719; /* Texto oscuro */
    font-size: 16px; /* Tamaño de fuente adecuado */
    text-align: center; /* Texto centrado */
    border-radius: 0 0 20px 20px;
}

/* Estilos para nav-links */
.nav-link {
    color: var(--primary-color); /* Azul como el título del header del login */
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #0056b3; /* Azul más oscuro para hover */
    transform: scale(1.1);
}

/* Estilos para el span del navbar (texto) */
#texto-navbar {
    color: var(--primary-color); /* Azul como el título del header */
    font-weight: bold;
}

/* Estilos para los botones de perfil y notificaciones en la navbar */
.navbar-buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.navbar-button {
    background: transparent;
    border: none;
    margin-left: 15px;
    cursor: pointer;
    padding: 0;
}

.navbar-button img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.2s ease;
}

.navbar-button:hover img {
    transform: scale(1.1);
}

/* Estilos personalizados para el botón toggler */
.navbar-toggler {
    border: 2px solid var(--primary-color); /* Borde azul */
    border-radius: 5px;
    background-color: #ffffff; /* Fondo claro */
    padding: 6px 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    outline: none; /* Elimina el borde de enfoque por defecto */
    box-shadow: none; /* Elimina sombras al ser clicado */
}

.navbar-toggler:hover {
    transform: scale(1.05);
}

.navbar-toggler:focus {
    outline: none; /* Elimina el borde de enfoque */
    box-shadow: none; /* Elimina sombras que puedan aparecer */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 123, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* Líneas del ícono en azul */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
}

    
.card {
    background-color: #ffffff; /* Fondo claro */
    border: 1px solid var(--primary-color); /* Borde azul */
    border-radius: 15px; /* Más redondeado */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-title {
    color: #151719; /* Texto oscuro */
}

.card-text {
    color: #343a40; /* Texto gris oscuro */
}

.card-footer {
    background-color: #ffffff; /* Fondo claro */
    border-top: 1px solid var(--primary-color); /* Borde azul */
    border-radius: 20px; /* Más redondeado */
}

.text-muted {
    color: #6c757d !important;
}


/* Estilos personalizados para el modal */
.modal-content {
    background-color: #ffffff; /* Fondo claro */
    color: #151719; /* Texto oscuro */
    border-radius: 15px; /* Bordes redondeados */
    border: 1px solid var(--primary-color); /* Borde azul */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para darle profundidad */
}

.modal-header {
    background-color: var(--primary-color); /* Fondo azul para la cabecera */
    color: #ffffff; /* Texto blanco */
    border-bottom: 1px solid var(--primary-color); /* Borde inferior azul */
    border-top-left-radius: 15px; /* Bordes redondeados coherentes con el modal */
    border-top-right-radius: 15px;
}

.modal-title {
    font-weight: bold;
}

.modal-body {
    background-color: #ffffff; /* Fondo claro */
    color: #151719; /* Texto oscuro */
    padding: 20px;
}

.modal-footer {
    background-color: #ffffff; /* Fondo claro */
    border-top: 1px solid var(--primary-color); /* Borde superior azul */
    border-bottom-left-radius: 15px; /* Bordes redondeados */
    border-bottom-right-radius: 15px;
}

/* Estilo del botón de cerrar */
.btn-close {
    background-color: transparent;
    color: #151719;
    border: none;
    transition: transform 0.2s ease;
    outline: 0;
}

.btn-close:hover {
    transform: scale(1.1);
    color: #000000; /* Color más oscuro para hover */
}

.btn-close:focus {
    outline: none;
    box-shadow: none; /* Esto también elimina cualquier sombra azul que pueda aparecer */
}

/* Ocultar el icono predeterminado y agregar un ícono personalizado */
input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url('../images/schedule.png') !important;
    background-size: 20px 20px; 
    background-repeat: no-repeat;
    background-position: center;
}

/* Reemplazar el icono del reloj en el input de tipo time */
input[type="time"]::-webkit-calendar-picker-indicator {
    background-image: url('../images/clock.png') !important;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}


/*Estilos para notificaciones*/
.notificacion-no-leida {
    border: 2px solid blue;
}
.circulo-azul {
    width: 10px;
    height: 10px;
    background-color: blue;
    border-radius: 50%;
    margin-left: auto;
}