/* Estilos comunes para todas las páginas */

/* Estilos para el calendario */
:root {
    --fc-small-font-size: .85em;
    --fc-page-bg-color: #fff;
    --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
    --fc-neutral-text-color: #808080;
    --fc-border-color: #ddd;
  
    --fc-button-text-color: #fff;
    --fc-button-bg-color: #2C3E50;
    --fc-button-border-color: #2C3E50;
    --fc-button-hover-bg-color: #1e2b37;
    --fc-button-hover-border-color: #1a252f;
    --fc-button-active-bg-color: #1a252f;
    --fc-button-active-border-color: #151e27;
  
    --fc-event-bg-color: #3788d8;
    --fc-event-border-color: #3788d8;
    --fc-event-text-color: #fff;
    --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);
  
    --fc-more-link-bg-color: #d0d0d0;
    --fc-more-link-text-color: inherit;
  
    --fc-event-resizer-thickness: 8px;
    --fc-event-resizer-dot-total-width: 8px;
    --fc-event-resizer-dot-border-width: 1px;
  
    --fc-non-business-color: rgba(215, 215, 215, 0.3);
    --fc-bg-event-color: rgb(143, 223, 130);
    --fc-bg-event-opacity: 0.3;
    --fc-highlight-color: rgba(188, 232, 241, 0.3);
    --fc-today-bg-color: rgba(255, 220, 40, 0.15);
    --fc-now-indicator-color: red;

    --fc-border-color: black;
    --fc-daygrid-event-dot-width: 5px;
    --fc-daygrid-event-dot-height: 5px;
}
.fc-scrollgrid-sync-inner{
    background-color:#1A2226;
}
 .fc-daygrid-day-frame {
    background-color: white !important;
 }
.fc-event,
.fc-event-start,
.fc-event-end,
.fc-event-future,
.fc-daygrid-event,
.fc-daygrid-dot-event {
    background-color: #1A2226 !important;
    border-color:  #1A2226 !important;
}
div .fc-event-time {
    display: none;
}
/* Estilos comunes para todas las páginas */
body {
    background-color: #071014;
    background-image: linear-gradient(160deg, #071014 0%, #0db8de 100%);
    font-family: 'Arial', sans-serif;
    color: #ECF0F5;
    min-height: 100vh;
}

header, .footer-nuestro ,.navbar{
    background: #1A2226;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.blue-text {
    color: #0DB8DE;
}

.dark-box {
    background: #1A2226;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 15px;
}

.form-title {
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #0DB8DE;
}

.form-control {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-radius: 0;
    padding-left: 0;
    color: #ECF0F5;
    margin-bottom: 20px;

}

.form-control:focus {
    box-shadow: none;
    background-color: #1A2226;
    color: #ECF0F5;
}

.form-label {
    font-size: 15px;
    color: #B0B0B0;
    letter-spacing: 1px;
}

/* Estilo para el <select> */
.form-select {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    color: #ECF0F5;
    padding: 0.5em;
}

.form-select:focus {
    box-shadow: none;
    border-color: #0DB8DE;
    background-color: #1A2226;
    color: #ECF0F5;
}


.btn-outline-primary {
    border-radius: 15px;
    cursor: pointer;
    border-color: #0DB8DE !important;
    color: #0DB8DE;
    outline: none;
}

.btn-outline-primary:hover {
    background-image: linear-gradient(160deg, #071014 0%, #0db8de 100%) !important;
    color: #ffffff !important;
}

.btn-outline-primary:focus {
    outline: none;
    box-shadow: none; /* Esto también elimina cualquier sombra azul que pueda aparecer */
}
.btn-outline-secondary {
    border-radius: 15px;
    cursor: pointer;
    border-color: #B0B0B0 !important;
    color: #B0B0B0;
    outline: none;
}

.btn-outline-secondary:hover {
    background-image: linear-gradient(160deg, #071014 0%, #B0B0B0 100%) !important;
    color: #ffffff !important;
}

.btn-outline-secondary:focus {
    outline: none;
    box-shadow: none; /* Esto también elimina cualquier sombra azul que pueda aparecer */
}

.btn-success {
    border-radius: 15px;
    cursor: pointer;
    color: #ffffff;
    outline: none;
}

.btn-success:hover {
    background-image: linear-gradient(160deg, #071014 0%, #28a745 100%) !important;
    color: #ffffff !important;
}

.btn-success:focus {
    outline: none;
    box-shadow: none; /* Esto también elimina cualquier sombra azul que pueda aparecer */
}

.btn-outline-danger{
    border-radius: 15px;
    cursor: pointer;
    border-color: #dc3545 !important;
    color: #dc3545;
    outline: none;
}

.btn-outline-danger:hover {
    background-image: linear-gradient(160deg, #071014 0%, #dc3545 100%) !important;
    color: #ffffff !important;
}

.btn-outline-danger:focus {
    outline: none;
    box-shadow: none; /* Esto también elimina cualquier sombra azul que pueda aparecer */
}


span {
    color: #B0B0B0;
}

a {
    color: #0DB8DE;
    text-decoration: none;
}

a:hover {
    color: #2d77c2;
}

/* Estilos personalizados para el toast */
.custom-toast {
    background-color: #1A2226; /* Fondo oscuro como el de otros componentes */
    color: #ECF0F5; /* Color del texto claro */
    border-radius: 20px; /* Bordes completamente redondeados */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); /* Sombra para dar profundidad */

}

.toast-header {
    background-color: #0DB8DE; /* Encabezado con color azul */
    color: #fff; /* Texto blanco en el encabezado */
    border-radius: 20px 20px 0 0;

}

.toast-body {
    background-color: #1A2226; /* Fondo oscuro */
    color: #ECF0F5; /* Texto claro */
    font-size: 16px; /* Tamaño de fuente adecuado */
    text-align: center; /* Texto centrado */
    border-radius: 0 0 20px 20px;
}

/* Estilos para nav-links */
.nav-link {
    color: #0DB8DE; /* Azul como el título del header del login */
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #2d77c2; /* Azul más oscuro para hover */
    transform: scale(1.1);
}

/* Estilos para el span del navbar (texto) */
#texto-navbar {
    color: #0DB8DE; /* Azul como el título del header */
    font-weight: bold;
}

/* Estilos para los botones de perfil y notificaciones en la navbar */
.navbar-buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.navbar-button {
    background: transparent;
    border: none;
    margin-left: 15px;
    cursor: pointer;
    padding: 0;
}

.navbar-button img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.2s ease;
}

.navbar-button:hover img {
    transform: scale(1.1);
}

/* Estilos personalizados para el botón toggler */
.navbar-toggler {
    border: 2px solid #0DB8DE; /* Borde azul */
    border-radius: 5px;
    background-color: #1A2226; /* Fondo oscuro */
    padding: 6px 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    outline: none; /* Elimina el borde de enfoque por defecto */
    box-shadow: none; /* Elimina sombras al ser clicado */
}

.navbar-toggler:hover {
    transform: scale(1.05);
}

.navbar-toggler:focus {
    outline: none; /* Elimina el borde de enfoque */
    box-shadow: none; /* Elimina sombras que puedan aparecer */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(13, 184, 222, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* Líneas del ícono en azul */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
}

    
.card {
    background-color: #1A2226; /* Fondo oscuro */
    border: 1px solid #0DB8DE; /* Borde azul */
    border-radius: 15px; /* Más redondeado */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-title {
    color: #ECF0F5; /* Texto claro */
}

.card-text {
    color: #B0B0B0; /* Texto gris claro */
}

.card-footer {
    background-color: #1A2226; /* Fondo oscuro */
    border-top: 1px solid #0DB8DE; /* Borde azul */
    border-radius: 20px; /* Más redondeado */
}

.text-muted {
    color: #6c757d !important;
}


/* Estilos personalizados para el modal */
.modal-content {
    background-color: #1A2226; /* Fondo oscuro similar al tema */
    color: #ECF0F5; /* Texto claro */
    border-radius: 15px; /* Bordes redondeados */
    border: 1px solid #0DB8DE; /* Borde azul */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para darle profundidad */
}

.modal-header {
    background-color: #0DB8DE; /* Fondo azul para la cabecera */
    color: #ffffff; /* Texto blanco */
    border-bottom: 1px solid #0DB8DE; /* Borde inferior azul */
    border-top-left-radius: 15px; /* Bordes redondeados coherentes con el modal */
    border-top-right-radius: 15px;
}

.modal-title {
    font-weight: bold;
}

.modal-body {
    background-color: #1A2226; /* Fondo oscuro */
    color: #ECF0F5; /* Texto claro */
    padding: 20px;
}

.modal-footer {
    background-color: #1A2226; /* Fondo oscuro */
    border-top: 1px solid #0DB8DE; /* Borde superior azul */
    border-bottom-left-radius: 15px; /* Bordes redondeados */
    border-bottom-right-radius: 15px;
}

/* Estilo del botón de cerrar */
.btn-close {
    background-color: transparent;
    color: #ECF0F5;
    border: none;
    transition: transform 0.2s ease;
    outline: 0;
}

.btn-close:hover {
    transform: scale(1.1);
    color: #ffffff; /* Color más claro para hover */
}

.btn-close:focus {
    outline: none;
    box-shadow: none; /* Esto también elimina cualquier sombra azul que pueda aparecer */
}

/* Ocultar el icono predeterminado y agregar un ícono personalizado */
input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url('../images/schedule.png') !important;
    background-size: 20px 20px; 
    background-repeat: no-repeat;
    background-position: center;
}

/* Reemplazar el icono del reloj en el input de tipo time */
input[type="time"]::-webkit-calendar-picker-indicator {
    background-image: url('../images/clock.png') !important;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}


/*Estilos para notificaciones*/
.notificacion-no-leida {
    border: 2px solid blue;
}
.circulo-azul {
    width: 10px;
    height: 10px;
    background-color: blue;
    border-radius: 50%;
    margin-left: auto;
}

