/* Variables de colores y fuentes */
:root {
    --fc-small-font-size: .85em;
    --fc-page-bg-color: #fff;
    --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
    --fc-neutral-text-color: #808080;
    --fc-border-color: #ddd;
    --fc-button-text-color: #fff;
    --fc-button-bg-color: #2C3E50;
    --fc-button-border-color: #2C3E50;
    --fc-button-hover-bg-color: #1e2b37;
    --fc-button-hover-border-color: #1a252f;
    --fc-button-active-bg-color: #1a252f;
    --fc-button-active-border-color: #151e27;
    --fc-event-bg-color: #3788d8;
    --fc-event-border-color: #69a6e4;
    --fc-event-text-color: #fff;
    --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);
    --fc-more-link-bg-color: #d0d0d0;
    --fc-more-link-text-color: inherit;
    --fc-event-resizer-thickness: 8px;
    --fc-event-resizer-dot-total-width: 8px;
    --fc-event-resizer-dot-border-width: 1px;
    --fc-non-business-color: rgba(215, 215, 215, 0.3);
    --fc-bg-event-color: rgb(143, 223, 130);
    --fc-bg-event-opacity: 0.3;
    --fc-highlight-color: rgba(188, 232, 241, 0.3);
    --fc-today-bg-color: rgba(255, 220, 40, 0.15);
    --fc-now-indicator-color: red;
    --fc-border-color: black;
    --fc-daygrid-event-dot-width: 5px;
    --fc-daygrid-event-dot-height: 5px;
    --primary-color: rgba(9, 85, 208, 1);
    --info-color: #004494;
    --secondary-color: #343a40;
    --success-color: #28a745;
    --danger-color: #a71d2a;
    --light-color: #f8f9fa;
    --dark-color: #151719;
    --warning-color: #ffc107;
    --font-family: 'Arial', sans-serif;
}

body {
    background-color: #071014;
    background-image: linear-gradient(160deg, #071014 0%, #0db8de 100%);
    font-family: 'Arial', sans-serif;
    color: #ECF0F5;
    min-height: 100dvh;
    display:grid;
    grid-template-rows: auto 1fr auto;
}

header, .footer-nuestro, .navbar {
    background: #1A2226;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}


::-webkit-scrollbar {
    width: 13px;
    height: 13px; 
}

::-webkit-scrollbar-thumb {
    background-color: #0DB8DE; 
    border-radius: 10px; 
    border: 3px solid #1A2226; 
}

::-webkit-scrollbar-track {
    background-color: #1A2226; 
    border-radius: 10px; 
}

.blue-text {
    color: #0DB8DE;
}

.red-text {

    color:#FF3D3D;
}

.green-text {
    color: #0BD00B;
}
.dark-text {
    color: var(--dark-color);
}

.fc-scrollgrid-sync-inner {
    background-color: #1A2226;
}
.fc-daygrid-day-number{
    color: black;
}
.fc-daygrid-day-frame {
    background-color: white !important;
}

.fc-event,
.fc-event-start,
.fc-event-end,
.fc-event-future,
.fc-daygrid-event,
.fc-daygrid-dot-event {
    background-color: #1A2226 !important;
    border-color: #1A2226 !important;
}

div .fc-event-time {
    display: none;
}

.login-box {
    background: #1A2226;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

#recoverEmail {
    font-family: Arial, sans-serif; font-size: 16px; color: #333;
}

.form-title {
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #0DB8DE;
}

.form-text{
    color:#AAB1B5;
}

.form-control {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-radius: 0;
    padding-left: 0;
    color: #ECF0F5;
    margin-bottom: 20px;
}

.form-control:focus {
    box-shadow: none;
    background-color: #1A2226;
    color: #ECF0F5;
}

.form-label {
    font-size: 15px;
    color: #B0B0B0;
    letter-spacing: 1px;
}


.form-select {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    color: #ECF0F5;
    padding: 0.5em;
}

.form-select:focus {
    box-shadow: none;
    border-color: #0DB8DE;
    background-color: #1A2226;
    color: #ECF0F5;
}


.btn-outline-primary {
    border-radius: 15px;
    cursor: pointer;
    border-color: #0DB8DE !important;
    color: #0DB8DE;
    outline: none;
}

.btn-outline-primary:hover {
    background-image: linear-gradient(160deg, #071014 0%, #0db8de 100%) !important;
    color: #ffffff !important;
}

.btn-outline-primary:focus {
    outline: none;
}

.btn-outline-secondary {
    border-radius: 15px;
    cursor: pointer;
    border-color: #B0B0B0 !important;
    color: #ffffff;
    outline: none;
}

.btn-outline-secondary:hover {
    background-image: linear-gradient(160deg, #071014 0%, #B0B0B0 100%) !important;
    color: #ffffff !important;
}

.btn-outline-secondary:focus {
    outline: none;
}

.btn-success {
    border-radius: 15px;
    cursor: pointer;
    color: #ffffff;
    outline: none;
}

.btn-success:hover {
    background-image: linear-gradient(160deg, #071014 0%, #28a745 100%) !important;
    color: #ffffff !important;
}

.btn-success:focus {
    outline: none;
}

.btn-outline-danger {
    border-radius: 15px;
    cursor: pointer;
    border-color: #FF3D3D !important;
    color:#FF3D3D;
    outline: none;
}

.btn-outline-danger:hover {
    background-image: linear-gradient(160deg, #071014 0%, #dc3545 100%) !important;
    color: #ffffff !important;
}

.btn-outline-danger:focus {
    outline: none;
}

.btn-outline-warning {
    border-radius: 15px;
    border-color: var(--warning-color) !important;
    color: var(--warning-color);
}

.btn-outline-warning:hover {
    background-image: linear-gradient(160deg, #071014 0%, #ffc107 100%) !important;
    color: #ffffff !important;
}

.btn-outline-info {
    border-color: var( --fc-event-border-color) !important;
    color: var(--fc-event-border-color);
    border-radius: 15px;
}

.btn-outline-info:hover {
    background-image: linear-gradient(160deg, #b0d4f1 0%, var(--fc-event-border-color) 100%) !important;
    color: #ffffff !important;
}


a {
    color: #0DB8DE;
    text-decoration: none;
}

a:hover {
    color: #2d77c2;
}


.custom-toast {
    background-color: #1A2226;
    color: #ECF0F5;
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.toast-header {
    background-color: #0DB8DE;
    color: #fff;
    border-radius: 18px 18px 0 0;
}

.toast-body {
    background-color: #1A2226;
    color: #ECF0F5;
    font-size: 16px;
    text-align: center;
    border-radius: 0 0 20px 20px;
}


.nav-link {
    color: #0DB8DE;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #2d77c2;
    transform: scale(1.1);
}


#texto-navbar {
    color: #0DB8DE;
    font-weight: bold;
}

.navbar-buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-button {
    background: transparent;
    border: none;
    margin-left: 15px;
    cursor: pointer;
    padding: 0;
}

.navbar-button img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.2s ease;
}

.navbar-button:hover img {
    transform: scale(1.1);
}

.navbar-toggler {
    border: 2px solid #0DB8DE;
    border-radius: 5px;
    background-color: #1A2226;
    padding: 6px 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    outline: none;
    box-shadow: none;
}

.navbar-toggler:hover {
    transform: scale(1.05);
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(13, 184, 222, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
}


.lista-estadisticas, .lista-eventos{
    overflow-y: auto;
    max-height: 65vh;
}

.card {
    background-color: #1A2226;
    border: 1px solid #0DB8DE;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}   
.card:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}
.card-title {
    color: #ECF0F5;
}

.card-text {
    color: #B0B0B0;
}

.card-footer {
    background-color: #1A2226;
    border-top: 1px solid #0DB8DE;
    border-radius: 20px;
}

.card-header {
    background-color: #1A2226;
    color: #ffffff;
    border-bottom: 1px solid #0DB8DE;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
    font-weight: bold;
}

.text-muted {
    color: #6c757d !important;
}


.modal-content {
    background-color: #1A2226;
    color: #ECF0F5;
    border-radius: 15px;
    border: 1px solid #0DB8DE;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.modal-header {
    background-color: #08809B;
    color: #ffffff;
    border-bottom: 1px solid #0DB8DE;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.modal-title {
    font-weight: bold;
}

.modal-body {
    background-color: #1A2226;
    color: #ECF0F5;
    padding: 20px;
}

.modal-footer {
    background-color: #1A2226;
    border-top: 1px solid #0DB8DE;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


.btn-close {
    background-color: transparent;
    color: #ECF0F5;
    border: none;
    transition: transform 0.2s ease;
    outline: 0;
}

.btn-close:hover {
    transform: scale(1.1);
    color: #ffffff;
}

.btn-close:focus {
    outline: none;
    box-shadow: none;
}


input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url('../images/schedule.png') !important;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}


input[type="time"]::-webkit-calendar-picker-indicator {
    background-image: url('../images/clock.png') !important;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}


.notificacion-no-leida {
    border: 2px solid blue;
}

.circulo-azul {
    width: 10px;
    height: 10px;
    background-color: blue;
    border-radius: 50%;
    margin-left: auto;
}


.table-responsive {
    background-color: #1A2226; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.table {
   
    background-color: #1A2226; 
    color: #ECF0F5; 
}

.table thead {
    background-color: #343a40; 
    color: #ffffff; 
}

.table tbody tr:hover {
    background-color: #2d3d44; 
}

.table-bordered {
    border: 1px solid #0DB8DE; 
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #0DB8DE; 
}

.table th,
.table td {
    padding: 15px; 
    vertical-align: middle; 
}

.text-center {
    text-align: center;
}

.text-white {
    color: #ffffff;
}


.nav-tabs {
    border-bottom: none; 
}


.nav-tabs .nav-link {
    background-color: #1A2226; 
    color: #0DB8DE; 
    border: 2px solid transparent; 
    border-radius: 15px;
    margin: 0 5px;
    transition: all 0.3s ease;
}


.nav-tabs .nav-link:hover {
    background-image: linear-gradient(160deg, #071014 0%, #0db8de 100%);
    color: #ffffff;
}

.nav-tabs .nav-link.active {
    background-color: #0db8de; 
    color: #ffffff;
    border: 2px solid #0db8de; 
}

.nav-tabs .nav-link,
.nav-tabs .nav-link.active {
    padding: 10px 20px; 
    box-shadow: none; 
}

/* Tamaños de letra generales para el cuerpo */
.font-small {
    font-size: 12px !important;
}

.font-normal {
    font-size: 16px !important; /* Tamaño de texto normal para el body */
}

.font-large {
    font-size: 20px !important;
}

/* Tamaños de texto para los encabezados */
.font-small h1 { font-size: 22px !important; }
.font-small h2 { font-size: 20px !important; }
.font-small h3 { font-size: 18px !important; }
.font-small h4 { font-size: 16px !important; }
.font-small h5 { font-size: 14px !important; }

.font-normal h1 { font-size: 2.5rem !important; }  /* 40px */
.font-normal h2 { font-size: 2rem !important; }    /* 32px */
.font-normal h3 { font-size: 1.75rem !important; } /* 28px */
.font-normal h4 { font-size: 1.5rem !important; }  /* 24px */
.font-normal h5 { font-size: 1.25rem !important; } /* 20px */

.font-large h1 { font-size: 3rem !important; }      /* 48px */
.font-large h2 { font-size: 2.5rem !important; }    /* 40px */
.font-large h3 { font-size: 2.25rem !important; }   /* 36px */
.font-large h4 { font-size: 2rem !important; }      /* 32px */
.font-large h5 { font-size: 1.75rem !important; }   /* 28px */

/* Tamaños de form-label, input, select, textarea */
.font-small .form-label { font-size: 10px !important; }
.font-small input, .font-small select, .font-small textarea { font-size: 12px !important; }

.font-normal .form-label { font-size: 14px !important; }
.font-normal input, .font-normal select, .font-normal textarea { font-size: 16px !important; }

.font-large .form-label { font-size: 18px !important; }
.font-large input, .font-large select, .font-large textarea { font-size: 20px !important; }

/* Tamaños para botones y enlaces */
.font-small button, .font-small a { font-size: 12px !important; }
.font-small .btn { padding: 5px 10px !important; }

.font-normal button, .font-normal a { font-size: 15.5px !important; }
.font-normal .btn { padding: 8px 15px !important; }

.font-large button, .font-large a { font-size: 20px !important; }
.font-large .btn { padding: 10px 20px !important; }


#spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
.no-hover * {
    pointer-events: none;
}
     